#carroContainer{

    position: fixed;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
    height: 0vh;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 99;

    transition: 1.5s;

}

#productContainer{
    display: none;
}

.btnEliminarFromCart{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 20px;
    margin: auto;
}