ul{
    list-style-type: none;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

ul li a{
    text-decoration: none;
    color: #f7f5f5;
}

ul li a:hover{
    color: #f60505;
}

i{
    margin-right: 15px;
}

ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #050505;
}
ul li:hover{
    background-color: aqua;
}

